.body{
  font-family: 'Poppins', sans-serif;
}
.tick line{
  stroke: #C0C0BB;
}

.tick text{
  fill: #8e8883;
}
.mark rect{
  fill: #137B80;
}
.mark path{
  fill:none;
  stroke:#d8b365;
  stroke-width: .2em;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.axis-label{
  font-size: 2em;
  fill: #8e8883;
}